@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Menu
@{
}
<ul>
    @foreach (var value in Model.GetPropertyValues())
    {
        <li>@value</li>
    }
</ul>
