@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<environment include="Development, Staging">
    <div>This shows up for the <strong>Development</strong>
        and <strong>Staging</strong> environment</div>
</environment>
<environment exclude="Production">
    <div>Not visible in the <strong>Production</strong> environment</div>
</environment>
