@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Menu
@{
}
<label asp-for="Text"></label>
<label asp-for="Price"></label>
<label asp-for="Date"></label>
<label asp-for="Category"></label>