@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EventsAndMenusContext
@{
    ViewData[EventTitle] = "Live Events";
}

<div>
    @await Html.PartialAsync("ShowEvents", Model.Events)
</div>
